################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/SoftOne.TaskManagement/.vs
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.API/obj
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Application/obj
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Common/obj
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Domain/obj
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Infrastructure/obj
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.API/bin/Debug/net10.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Application/bin/Debug/net10.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Domain/bin/Debug/net10.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Infrastructure/bin/Debug/net10.0
/.vs
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.API/bin/Debug/net8.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Application/bin/Debug/net8.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Common/bin/Debug/net8.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Domain/bin/Debug/net8.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Infrastructure/bin/Debug/net8.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Tests/bin/Debug/net8.0
/backend/SoftOne.TaskManagement/SoftOne.TaskManagement.Tests/obj
/backend/SoftOne.TaskManagement_old/.vs
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.API/bin/Debug/net8.0
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.API/obj
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Application/bin/Debug/net8.0
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Application/obj
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Common/bin/Debug/net8.0
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Common/obj
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Domain/bin/Debug/net8.0
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Domain/obj
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Infrastructure/bin/Debug/net8.0
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Infrastructure/obj
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Tests/bin/Debug/net8.0
/backend/SoftOne.TaskManagement_old/SoftOne.TaskManagement.Tests/obj
